<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="othersprofile.css">
    <title>Profile</title>
    <style>* {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        
        width: 100%;
        background: lightblue;
       
    }
    
    #navbar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(213, 245, 255) ;
        transition: background-color 0.3s;
        z-index: 1000;
        height: 100px;
    }
    
    .heading{
        margin-bottom: 5px;
    }
    .options {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 35vw;
    }
    
    .logo {
        text-align: center;
    }
    
    .logo {
    
        text-align: center;
        margin-left: 20px;
        width: 210px;
        height: 80px;
    }
    svg{
        position: fixed;
        top: -8%;
        left:3%;
    }
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        width: 100%;
    
    }
    
    
    button a {
        text-decoration: none;
        color: black;
    }
    
    .button {
        border: none;
        background-color: transparent;
        font-size: large;
        padding: 7px 18px;
    }
    
    .logout {
        padding: 7px 22px;
        background-color: white;
        border: none;
        font-size: large;
        border-radius: 16px;
    }
    
    .button:hover {
        background-color: white;
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }
    
    .logout:hover {
        cursor: pointer;
        background-color: rgb(192, 192, 192);
    }
    
    section{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        margin-top: 120px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 15px;
        border-left: 5px solid grey;
    }
    
    .question{
        width:80%;
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 20px 35px;
        padding:40px 30px;
        border:2px solid aquamarine
    }
    .title,.description,.meta{
        margin-bottom: 6px;
    }
    .title{
        color: black;
    
    }
    .description{
    color: black;
    }
    .meta{
        color: grey;
    }
    .single{
        text-decoration: none;
    
    }
    .othersprofile{
       
       
        border: none;
        border-radius: 2px;
        padding: 4px;
        color:black;
    
    }
    
        .headin{
   font-size: 45px;
  font-weight: bold;
  margin-top: 25px;
  

}
.profileheading{
    font-size: 30px;
    text-transform: uppercase;
    color:rgb(27, 14, 14);
}
      
    
    
    .second dotlottie-player{
        width:100px;
        height:100px;
        margin-bottom: 10px;
      
    }
    .heading-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .goback{
    border: none;
    background-color: black;
   position: absolute;
    padding: 10px;
    margin: 20px 12px;
    border-radius: 12px;
    width: 100px;
   top:15%;
    left: 13%;
    color:white
}

</style>
</head>
<body>
    <nav id="navbar">
        <header>
            <div class="logo"><?xml version="1.0" encoding="UTF-8"?>
                <svg version="1.1" viewBox="0 0 2048 875" width="200" height="215" xmlns="http://www.w3.org/2000/svg">
                <path transform="translate(0)" d="m0 0h2048v875h-2048z" fill="rgb(213, 245, 255)"/>
                <path transform="translate(457,342)" d="m0 0h36l20 3 26 9 16 8 22 15 13 12 13 13 10 14 12 22 8 21 5 22 2 20v11l-1 14-6 28-7 19-8 16-7 11-6 9 2 4 15 14-3 5-17 16-8 7-7 7-5-1-15-15-4 1-12 7-21 9-12 4-31 6h-18l-18-2-24-5-17-6-16-8-12-7-9-7-10-8-18-18-10-14-8-13-8-17-6-18-4-20-1-11v-22l2-20 5-19 4-12 7-16 12-19 8-10 9-10 9-9 10-8 15-10 14-8 15-6 17-5z" fill="#2F4052"/>
                <path transform="translate(519,121)" d="m0 0h227v400h-94l-1-31-3-17-5-20-7-19-5-10v-2l97-1v-9l-2-1-102-1-8-10-7-9-9-10-10-9-10-8 1-2 147-1v-9l-2-1-168-1-24-11-20-6-34-5v-176l2-11 5-8 9-8 6-3z" fill="#2F4052"/>
                <path transform="translate(398,121)" d="m0 0h41l10 2 9 7 7 11 3 12v174l-6 2-28 4-21 6-20 9-3 2-167 1-5 1v6l2 3 147 1-2 4-11 9-13 13-11 14-4 6-7 2-98 1-3 4 1 5 3 1 94 1-2 6-5 11-5 14-5 18-3 28v22h-94v-398l1-1h57l1 86 5 4 6-2 11-7 17-12 4-1 15 10 16 10 7 1 3-1 1-4v-29l1-55z" fill="#2F4052"/>
                <path transform="translate(457,342)" d="m0 0h36l20 3 26 9 16 8 22 15 13 12 13 13 10 14 12 22 8 21 5 22 2 20v11l-1 14-6 28-7 19-8 16-7 11-6 9 2 4 15 14-3 5-17 16-8 7-7 7-5-1-15-15-4 1-12 7-21 9-12 4-31 6h-18l-18-2-24-5-17-6-16-8-12-7-9-7-10-8-18-18-10-14-8-13-8-17-6-18-4-20-1-11v-22l2-20 5-19 4-12 7-16 12-19 8-10 9-10 9-9 10-8 15-10 14-8 15-6 17-5zm6 45-21 3-17 6-15 8-17 12-10 10-11 15-10 19-6 18-2 11-1 13v16l2 15 7 21 8 16 9 12 11 12 9 8 15 10 12 6 13 5 27 5h11l15-2 17-4 16-6 16-9 14-11 13-13 10-15 7-14 5-15 4-17 1-18-2-18-5-19-8-18-7-11-8-10-9-10-11-9-13-8-12-6-17-6-18-2z" fill="#2F4052"/>
                <path transform="translate(188,130)" d="m0 0h2v391l-2 5-14 15-19 19-7 8-2 1v-404l11-9 10-9 14-11z" fill="#2F4052"/>
                <path transform="translate(759,130)" d="m0 0 8 6 15 13 14 12 5 5v402l-6-5-7-8-11-11-7-8-10-10-1-2-1-393z" fill="#2F4052"/>
                <path transform="translate(898,427)" d="m0 0h15l8 3 10 9 3 1v-7l2-5h28l1 7 1 115 9 3 1 1v18l-1 1h-60l-1-1v-17l7-3 9-1 1-26-12 8-7 2h-12l-10-3-11-8-7-10-5-15-1-6v-21l2-12 5-13 6-8 7-7 8-4z" fill="#2F4052"/>
                <path transform="translate(639,631)" d="m0 0 5 1 14 14 7 8 8 8 7 8 14 15 8 8 7 8 11 12 6 12 1 3v15l-6 14-7 8-10 6-8 3-11 1-14-4-8-6-20-20-7-8-8-8-14-16-5-4-7-8-12-13-4-7 6-8 8-7 9-9 8-7 15-14z" fill="#2F4052"/>
                <path transform="translate(458,374)" d="m0 0h32l21 4 18 7 15 8 13 9 10 9 9 9 12 17 8 15 6 16 5 27v24l-4 22-6 18-9 17-10 14-11 12-7 7-14 10-16 9-18 7-20 4-8 1h-22l-18-3-12-3-19-8-12-7-16-12-11-11-12-16-9-16-5-12-5-16-2-12-1-19 2-24 7-24 11-21 10-14 18-18 14-10 16-9 19-7zm5 13-21 3-17 6-15 8-17 12-10 10-11 15-10 19-6 18-2 11-1 13v16l2 15 7 21 8 16 9 12 11 12 9 8 15 10 12 6 13 5 27 5h11l15-2 17-4 16-6 16-9 14-11 13-13 10-15 7-14 5-15 4-17 1-18-2-18-5-19-8-18-7-11-8-10-9-10-11-9-13-8-12-6-17-6-18-2z" fill="#F8FBFB"/>
                <path transform="translate(1302,428)" d="m0 0h61l1 5v16l-1 1-11 1 3 11 10 29v2h2l2-8 9-24 4-10-11-1-1-9 1-13h56l1 5v15l-4 2-7 2-11 23-10 25-15 38-7 16-6 8-9 8-9 4-5 1h-16l-9-3v-7l4-16 15-2 6-3 3-4-1-7-12-31-5-11-6-16-5-13-5-9-4-2-9-2v-20z" fill="#2F4052"/>
                <path transform="translate(1502,427)" d="m0 0h16l12 6 7 8 4 11 1 13 1 44 11 5v18l-1 1h-54l-1-1v-18l8-4 1-3v-44l-3-6-4-3h-11l-6 4-2 2v45l1 5 6 3v20h-54v-18l6-4 5-1v-57l-11-3-2-2-1-18 1-2h46l1 1 1 13 5-5 8-6z" fill="#2F4052"/>
                <path transform="translate(978,428)" d="m0 0h44l1 25v40l2 10 4 4 3 1h8l9-4v-52l-10-3v-21h45v82l11 2 2 1v20h-42l-1-1-1-10-5 3-9 7-8 3h-14l-9-3-9-6-6-8-3-7-2-16-1-43-9-3-1-2v-18z" fill="#2F4052"/>
                <path transform="translate(1600,427)" d="m0 0h21l10 3 9 5 7 7 6 12 2 8 1 29-3 1-55 1 1 5 6 7 6 3h14l14-3 7-2 4 10 2 7-1 5-16 7-12 3-15 1-12-3-13-7-11-9-6-10-3-9-1-5v-22l4-16 5-9 9-10 10-6z" fill="#2F4052"/>
                <path transform="translate(1147,427)" d="m0 0h19l13 4 10 7 7 10 4 13 1 8v22l-1 1-57 1 2 5 3 5 6 4 3 1h15l12-3 7-2 5 11 2 6v4l-20 9-8 2h-21l-10-3-12-7-9-8-6-10-4-12-1-13 2-18 4-12 6-9 5-5 8-6 10-4z" fill="#2F4052"/>
                <path transform="translate(1701,427)" d="m0 0h27l19 4 7 3v16l-1 16-23-1-3-12-7-3h-10l-5 3-1 7 3 4 27 8 14 7 7 8 3 10v8l-3 11-9 10-10 6-12 3h-20l-17-3-12-4-3-2-1-5v-26l1-1h21l4 9 2 7 16 1 9-3 1-1-1-7-8-4-23-6-10-6-7-7-4-8-1-4v-13l4-10 4-5 9-6z" fill="#2F4052"/>
                <path transform="translate(651,533)" d="m0 0h99l10 10 7 8 12 12 7 8 6 7-1 1h-153l3-11 5-17 4-17z" fill="#2F4052"/>
                <path transform="translate(198,533)" d="m0 0h99l8 31 5 13v2h-154l2-4 12-13 18-18 7-8z" fill="#2F4052"/>
                <path transform="translate(1780,402)" d="m0 0h34v26h16l1 1v22l-3 1h-14l1 51 3 3 11 1 1 2 2 21-2 3-8 2h-18l-9-4-9-7-5-10-1-5v-57h-13l-1-14v-10l14-1z" fill="#2F4052"/>
                <path transform="translate(1279,427)" d="m0 0h11l4 1v13l-1 14-1 4-19 1-9 5v44l10 4 1 1v19h-56l-1-1v-18l11-5 1-57-14-3-1-1v-20h47v13l3-1 6-8 5-4z" fill="#2F4052"/>
                <path transform="translate(273,122)" d="m0 0h61v72l-5-2-16-11-7-5-4-1-11 7-15 11h-3z" fill="#2F4052"/>
                <path transform="translate(252,288)" d="m0 0h194l3 1 1 2v8l-5 2h-222l-5-2-1-6 4-4z" fill="#F8FBFB"/>
                <path transform="translate(503,288)" d="m0 0h221l5 2v10l-5 1h-219l-6-1-1-2v-6l2-3z" fill="#F8FBFB"/>
                <path transform="translate(502,229)" d="m0 0h224l3 2v8l-2 2-26 1h-160l-41-1-2-3v-6z" fill="#F8FBFB"/>
                <path transform="translate(221,229)" d="m0 0h226l3 3v7l-2 2-75 1h-123l-30-1-3-3 1-7z" fill="#F8FBFB"/>
                <path transform="translate(911,453)" d="m0 0h11l6 4 3 4v42l-4 4-6 2h-9l-6-3-4-6-2-8v-21l3-10 4-5z" fill="#F8FBFB"/>
                <path transform="translate(1152,452)" d="m0 0h10l5 3 3 7v8l-1 1h-26l-1-4 4-10 4-4z" fill="#F8FBFB"/>
                <path transform="translate(1607,452)" d="m0 0h9l5 3 3 5v10l-1 1h-25l-1-1 1-9 5-7z" fill="#F8FBFB"/>
                </svg></div>
            <div class="options"></div>
            <div id="nav-search" class="nav-search"></div>
            <button class="button"><a href="/question">Ask Question</a></button>
            <button class="button"><a href="/profile">Profile</a></button>
            <button class="button"><a href="/settings">Settings</a></button>
            <button class="logout" id="logoutButton">Logout</button>
        </header>
    </nav>
    <section>
    <h1 class="profileheading">Profile of <%= user.username %></h1>

    <div class="heading-wrapper"><dotlottie-player src="https://lottie.host/d6288562-f9e4-4df0-be0a-c8cbf4aab87f/oddFHMwGbv.json" background="transparent" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
        <h1 class="headin">Questions Asked:</h1></div>
    
    <% if (questions.length > 0) { %>
        <% questions.forEach(question => { %>
            <div class="question">
                <h3 class="title"><a href="/<%= question._id %>"><%= question.title %></a></h3>
                <p class="description"><%= question.description %></p>
                <p class="meta">Posted on <%= question.datePosted.toLocaleDateString() %></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No questions asked.</p>
    <% } %>

    <div class="heading-wrapper"><dotlottie-player src="https://lottie.host/d6288562-f9e4-4df0-be0a-c8cbf4aab87f/oddFHMwGbv.json" background="transparent" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
        <h1 class="headin">Answers Provided:</h1></div>
    
    <% if (answers.length > 0) { %>
        <% answers.forEach(answer => { %>
            <div class="question">
                <h3 class="title">Answer to: <a href="/<%= answer.question._id %>"><%= answer.question.title %></a></h3>
                <p class="description"><%= answer.answerText %></p>
                <p class="meta">Answered on <%= answer.datePosted.toLocaleDateString() %></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No answers provided.</p>
    <% } %>

    <button class="goback" onclick="window.location.href='/dashboard'">go back <span> ⬅</span></button>
    
</section>
</body>
<script> const logoutButton = document.getElementById('logoutButton');
    
    
    logoutButton.addEventListener('click', () => {
        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/login';
            } else {
                throw new Error('Logout failed');
            }
        })
        .catch(error => {
            console.error('Logout error:', error);
        });
    });

   
    </script>
</html>
</html>